* {
  font-family: sans-serif;
  font-weight: lighter;
<<<<<<< HEAD
  /*text-align:center;*/
}
body {
  background-color: #A3BC1A;
  color: Grey;
  text-align:center;
}
body {
  background-color: #121D67;
  color: Grey;
  font-size: 20px;
>>>>>>> 43df9076c1e8ad5230c0280d01b42ab79575d574
}
button {
  width: 250px;
  height: 50px;
  background-color: #F3A720   ;
  border: none; 
  font-size: 1em;
  color: white;
<<<<<<< HEAD
}
=======
}
>>>>>>> 43df9076c1e8ad5230c0280d01b42ab79575d574